<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dati giornalieri {{nomeProvincia}}</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"></h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Totale casi</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let riga of tabellaNazionale">
                                    <td>{{riga.dataFormattata}}</td>
                                    <td>{{riga.totale_casi}} (+{{riga.differenza_totale_casi}})</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Data</th>
                                    <th>Totale casi</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>