<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Grafici storici {{nomeRegione}}</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Grafico storico dei casi totali ({{graficoStoricoContagiatiNazionale[graficoStoricoContagiatiNazionale.length-1].valoreTotale}})</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="graficoStoricoContagiatiNazionale">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Grafico storico dei ricoverati in terapia intensiva ({{graficoStoricoTerapiaIntensivaNazionale[graficoStoricoTerapiaIntensivaNazionale.length-1].valoreTotale}})</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="graficoStoricoTerapiaIntensivaNazionale">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Grafico storico delle ospedalizzazioni ({{graficoStoricoOspedalizzatiNazionale[graficoStoricoOspedalizzatiNazionale.length-1].valoreTotale}})</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="graficoStoricoOspedalizzatiNazionale">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Grafico storico degli isolamenti domiciliari ({{graficoStoricoIsolamentoDomiciliareNazionale[graficoStoricoIsolamentoDomiciliareNazionale.length-1].valoreTotale}})</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="graficoStoricoIsolamentoDomiciliareNazionale">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Grafico storico dei guariti ({{graficoStoricoGuaritiNazionale[graficoStoricoGuaritiNazionale.length-1].valoreTotale}})</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="graficoStoricoGuaritiNazionale">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Grafico storico dei decessi ({{graficoStoricoDecessiNazionale[graficoStoricoDecessiNazionale.length-1].valoreTotale}})</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="graficoStoricoDecessiNazionale">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Grafico storico dei tamponi ({{graficoStoricoTamponiNazionale[graficoStoricoTamponiNazionale.length-1].valoreTotale}})</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="graficoStoricoTamponiNazionale">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
