<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Grafici storici Provincia di {{nomeProvincia}} aggiornati al {{ultimaData |
            date:"dd/MM/yyyy"}}</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Grafico storico dei casi totali
                        ({{graficoStoricoContagiatiNazionale[graficoStoricoContagiatiNazionale.length-1].valoreTotale}})
                    </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div id="graficoStoricoTotaleCasiProvinciale">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>