<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Ultimi dati nazionali del {{ultimaData | date:"dd/MM/yyyy"}}</h1>
    </div>
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Contagiati</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ultimiValori.totale_positivi}}
                                ({{ultimiValori.variazione_totale_positivi > 0 ? '+' :
                                ''}}{{ultimiValori.variazione_totale_positivi}})
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-head-side-virus fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Deceduti</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ultimiValori.deceduti}}
                                ({{ultimiValori.differenza_deceduti > 0 ? '+' :
                                ''}}{{ultimiValori.differenza_deceduti}})
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-cross fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Guariti</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ultimiValori.dimessi_guariti}}
                                ({{ultimiValori.differenza_dimessi_guariti > 0 ? '+' :
                                ''}}{{ultimiValori.differenza_dimessi_guariti}})
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-virus-slash fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Totale</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ultimiValori.totale_casi}}
                                ({{ultimiValori.differenza_totale_casi > 0 ? '+' :
                                ''}}{{ultimiValori.differenza_totale_casi}})
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-viruses fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Terapia Intensiva
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ultimiValori.terapia_intensiva}}
                                ({{ultimiValori.differenza_terapia_intensiva > 0 ? '+' :
                                ''}}{{ultimiValori.differenza_terapia_intensiva}})
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-procedures fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ricoverati con
                                sintomi</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ultimiValori.ricoverati_con_sintomi}}
                                ({{ultimiValori.differenza_ricoverati_con_sintomi > 0 ? '+' :
                                ''}}{{ultimiValori.differenza_ricoverati_con_sintomi}})
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-head-side-cough fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Totale ospedalizzati
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ultimiValori.totale_ospedalizzati}}
                                ({{ultimiValori.differenza_totale_ospedalizzati > 0 ? '+' :
                                ''}}{{ultimiValori.differenza_totale_ospedalizzati}})
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-hospital-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tamponi</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ultimiValori.tamponi}}
                                ({{ultimiValori.differenza_tamponi > 0 ? '+' : ''}}{{ultimiValori.differenza_tamponi}})
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-microscope fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Nuovi positivi per regione</h6>
                </div>
                <div class="card-body">
                    <div id="graficoNuoviPositiviPerRegione">
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>