<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Elenco province</h1>
    </div>

    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4" *ngFor="let provincia of elencoProvince">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {{provincia.denominazione_regione}}</div>
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                {{provincia.denominazione_provincia}}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                            </div>
                        </div>
                        <div class="col-auto">
                            <a [routerLink]="['/'+tipoScelta+'/'+provincia.codice_regione+'/'+provincia.codice_provincia]" routerLinkActive="router-link-active" ><i class="fas fa-arrow-right fa-2x text-gray-300"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>