<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Crediti</h6>
                </div>
                <div class="card-body text-center">
                    <p>Progetto a scopo didattico sviluppato da <a class="font-weight-bold text-decoration-none"
                            href="https://www.linkedin.com/in/riccardoriggi/">Riccardo Riggi</a>. <br><br>Collegati al
                        repository ufficiale di <a class="font-weight-bold text-decoration-none"
                            href="https://github.com/RiccardoRiggi/dashboard-covid-italia">GitHub</a> per leggere la
                        documentazione e rimanere aggiornato sullo sviluppo.</p>
                    <div class="row">
                        <div class="col-4">

                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col">
                                    <a class="font-weight-bold text-decoration-none"
                                        href="https://www.linkedin.com/in/riccardoriggi/"><i
                                            class="fab h1 fa-linkedin pr-1"></i></a>
                                    <a class="font-weight-bold text-decoration-none"
                                        href="https://github.com/RiccardoRiggi"><i
                                            class="fab h1 fa-github pl-1"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>