<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard Covid Italia - Dati aggiornati al {{ultimaData | date:"dd/MM/yyyy"}}
        </h1>
        <a href="https://github.com/RiccardoRiggi/dashboard-covid-italia"
            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fab fa-github fa-sm text-white"></i> Vedi il progetto su GitHub</a>
    </div>
    <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Contagiati</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ultimiValori.totale_positivi}}
                                ({{ultimiValori.variazione_totale_positivi > 0 ? '+' :
                                ''}}{{ultimiValori.variazione_totale_positivi}})</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-head-side-virus fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Deceduti</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ultimiValori.deceduti}}
                                ({{ultimiValori.differenza_deceduti > 0 ? '+' :
                                ''}}{{ultimiValori.differenza_deceduti}})</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-cross fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Guariti</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ultimiValori.dimessi_guariti}}
                                ({{ultimiValori.differenza_dimessi_guariti > 0 ? '+' :
                                ''}}{{ultimiValori.differenza_dimessi_guariti}})</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-virus-slash fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Totale</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ultimiValori.totale_casi}}
                                ({{ultimiValori.differenza_totale_casi > 0 ? '+' :
                                ''}}{{ultimiValori.differenza_totale_casi}})</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-viruses fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Grafico storico dei positivi</h6>
                </div>
                <div class="card-body">
                    <div id="graficoStoricoContagiatiNazionale">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Nuovi positivi per regione</h6>
                </div>
                <div class="card-body">
                    <div id="graficoNuoviPositiviPerRegione">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Esito dei tamponi delle ultime 24 ore</h6>
                </div>
                <div class="card-body">
                    <div id="graficoDifferenzaTamponiNegativiTamponiPositivi">
                    </div>
                    <div class="mt-1 mb-1 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Negativi
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-danger"></i> Positivi
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>